<a href="https://colab.research.google.com/github/AdithyaaVenkatesh/Oasis_intern/blob/main/Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROJECT 3 - LEVEL 1**

---

# **Cleaning Data**

## 1) Data collection and Integrity

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats  # Ensure this import is included

df = pd.read_csv("/content/AB_NYC_2019.csv")

## 2) Missing Data Handling

In [ ]:
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
df['last_review'].fillna("2019-07-08", inplace=True)
df['host_name'].fillna("Unknown", inplace=True)
df.fillna({'name': 'Unknown', 'neighbourhood_group': 'Unknown'}, inplace=True)
df['reviews_per_month'].fillna(0, inplace=True)
print(df.isnull().sum())

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

<ipython-input-39-8c638653cb20>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['last_review'].fillna("2019-07-08", inplace=True)
<ipython-input-39-8c638653cb20>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_name'].fillna("Unknown", inplace=True)
<ipython-input-39-8c638653cb20>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reviews_per_month'].fillna(0, inplace=True)

## 3) Duplicate Removal

In [ ]:
print("duplicate rows:")
print(df.duplicated().sum())

duplicate rows:
0

## 4) Standardization

In [ ]:
data = df.columns.str.lower().str.strip().str.replace(" ", "_")
print(data)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
df['host_name'] = df['host_name'].str.strip().str.lower()
df['name'] = df['name'].str.title()  # Capitalize first letter of each word
print(df[['host_name', 'name']])

           host_name                                               name
0               john                 Clean & Quiet Apt Home By The Park
1           jennifer                              Skylit Midtown Castle
2          elisabeth                The Village Of Harlem....New York !
3        lisaroxanne                    Cozy Entire Floor Of Brownstone
4              laura   Entire Apt: Spacious Studio/Loft By Central Park
...              ...                                                ...
48890        sabrina    Charming One Bedroom - Newly Renovated Rowhouse
48891        marisol      Affordable Room In Bushwick/East Williamsburg
48892  ilgar & aysel            Sunny Studio At Historical Neighborhood
48893            taz               43Rd St. Time Square-Cozy Single Bed
48894     christophe  Trendy Duplex In The Very Heart Of Hell'S Kitchen

[48895 rows x 2 columns]

## 5) Outlier Detection

In [ ]:
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)  # 25th percentile
    Q3 = df[column].quantile(0.75)  # 75th percentile
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

# Detect outliers for key columns
outliers_price = detect_outliers_iqr(df, 'price')
outliers_min_nights = detect_outliers_iqr(df, 'minimum_nights')
outliers_reviews = detect_outliers_iqr(df, 'reviews_per_month')
outliers_availability = detect_outliers_iqr(df, 'availability_365')

print("Outliers in price column:\n", outliers_price)
print("Outliers in minimum_nights column:\n", outliers_min_nights)
print("Outliers in reviews_per_month column:\n", outliers_reviews)
print("Outliers in availability_365 column:\n", outliers_availability)

Outliers in price column:
              id                                               name    host_id  \
61        15396                 Sunny & Spacious Chelsea Apartment      60278
85        19601                Perfect For A Family Or Small Group      74303
103       23686  2000 Sf 3Br 2Bath West Village Private  Townhouse      93790
114       26933  2 Br / 2 Bath Duplex Apt With Patio! East Village      72062
121       27659                   3 Story Town House In Park Slope     119588
...         ...                                                ...        ...
48758  36420289    Rustic Garden House Apt, 2 Stops From Manhattan   73211393
48833  36450896   Brand New 3-Bed Apt In The Best Location Of Fidi   29741813
48839  36452721  Massage Spa. Stay Overnight. Authors Artist Dr...  274079964
48842  36453160  Luxury Manhattan Penthouse+Hudson River+Empire...  224171371
48856  36457700  Large 3 Bed, 2 Bath , Garden , Bbq , All You Need   66993395

                     host_name neighbourhood_group       neighbourhood  \
61                       petra           Manhattan             Chelsea
85                      maggie            Brooklyn    Brooklyn Heights
103                        ann           Manhattan        West Village
114                      bruce           Manhattan        East Village
121                       vero            Brooklyn         South Slope
...                        ...                 ...                 ...
48758                lagabrell              Queens    Long Island City
48833                      yue           Manhattan  Financial District
48839                  richard            Brooklyn      Sheepshead Bay
48842  luxuryapartmentsbyamber           Manhattan             Chelsea
48856                   thomas            Brooklyn  Bedford-Stuyvesant

       latitude  longitude        room_type  price  minimum_nights  \
61     40.74623  -73.99530  Entire home/apt    375             180
85     40.69723  -73.99268  Entire home/apt    800               1
103    40.73096  -74.00319  Entire home/apt    500               4
114    40.72540  -73.98157  Entire home/apt    350               2
121    40.66499  -73.97925  Entire home/apt    400               2
...         ...        ...              ...    ...             ...
48758  40.75508  -73.93258  Entire home/apt    350               2
48833  40.70605  -74.01042  Entire home/apt    475               2
48839  40.59866  -73.95661     Private room    800               1
48842  40.75204  -74.00292  Entire home/apt    350               1
48856  40.68886  -73.92879  Entire home/apt    345               4

       number_of_reviews last_review  reviews_per_month  \
61                     5  2018-11-03               0.12
85                    25  2016-08-04               0.24
103                   46  2019-05-18               0.55
114                    7  2017-08-09               0.06
121                   16  2018-12-30               0.24
...                  ...         ...                ...
48758                  0  2019-07-08               0.00
48833                  0  2019-07-08               0.00
48839                  0  2019-07-08               0.00
48842                  0  2019-07-08               0.00
48856                  0  2019-07-08               0.00

       calculated_host_listings_count  availability_365
61                                  1               180
85                                  1                 7
103                                 2               243
114                                 4               298
121                                 2               216
...                               ...               ...
48758                               1               364
48833                               1                64
48839                               1                23
48842                               1                 9
48856                               3               354

[2972 rows x 16 columns]
Outliers in minimum_nights column:
              id                                               name    host_id  \
6          5121                                    Blissartsspace!       7356
14         6090                      West Village Nest - Superhost      11975
29         9657                   Modern 1 Br / Nyc / East Village      21904
36        11452                        Clean And Quiet In Brooklyn       7355
45        12627  Entire Apartment In Central Brooklyn Neighborh...      49670
...         ...                                                ...        ...
48810  36445121                 Uws Spacious Master Bedroom Sublet  274014453
48843  36453642     ☆  Huge, Sunlit Room - 3 Min Walk From Train !   53966115
48871  36475746      A Large Room - 1 Month Minimum - Washer&Dryer  144008701
48879  36480292  Gorgeous 1.5 Bdr With A Private Yard- Williams...     540335
48882  36482231                          Bushwick _ Myrtle-Wyckoff   66058896

       host_name neighbourhood_group              neighbourhood  latitude  \
6          garon            Brooklyn         Bedford-Stuyvesant  40.68688
14         alina           Manhattan               West Village  40.73530
29          dana           Manhattan               East Village  40.72920
36            vt            Brooklyn         Bedford-Stuyvesant  40.68876
45          rana            Brooklyn  Prospect-Lefferts Gardens  40.65944
...          ...                 ...                        ...       ...
48810    dagmara           Manhattan            Upper West Side  40.79952
48843       nora            Brooklyn         Bedford-Stuyvesant  40.69635
48871  ozzy ciao           Manhattan                     Harlem  40.82233
48879        lee            Brooklyn               Williamsburg  40.71728
48882      luisa            Brooklyn                   Bushwick  40.69652

       longitude        room_type  price  minimum_nights  number_of_reviews  \
6      -73.95596     Private room     60              45                 49
14     -74.00525  Entire home/apt    120              90                 27
29     -73.98542  Entire home/apt    180              14                 29
36     -73.94312     Private room     35              60                  0
45     -73.96238  Entire home/apt    150              29                 11
...          ...              ...    ...             ...                ...
48810  -73.96003     Private room     75              30                  0
48843  -73.93743     Private room     45              29                  0
48871  -73.94687     Private room     35              29                  0
48879  -73.94394  Entire home/apt    120              20                  0
48882  -73.91079     Private room     40              20                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
6      2017-10-05               0.40                               1
14     2018-10-31               0.22                               1
29     2019-04-19               0.24                               1
36     2019-07-08               0.00                               1
45     2019-06-05               0.49                               1
...           ...                ...                             ...
48810  2019-07-08               0.00                               1
48843  2019-07-08               0.00                               2
48871  2019-07-08               0.00                               2
48879  2019-07-08               0.00                               1
48882  2019-07-08               0.00                               1

       availability_365
6                     0
14                    0
29                   67
36                  365
45                   95
...                 ...
48810                90
48843               341
48871                31
48879                22
48882                31

[6607 rows x 16 columns]
Outliers in reviews_per_month column:
              id                                             name    host_id  \
3          3831                  Cozy Entire Floor Of Brownstone       4869
18         7726  Hip Historic Brownstone Apartment With Backyard      20950
67        16580              Sunny, Modern Room In East Village!      64442
113       26785                     Park Slope Green Guest House      42273
225       58059              Private Room On Historic Sugar Hill     277379
...         ...                                              ...        ...
47848  35945256                    Penn House~~~~5 Mins From Jfk  269113892
47967  36004542           Cosy Bedroom In The Heart Of Manhattan   30461045
48031  36041065      Large Bedroom With Private Bathroom Is Suit  225118276
48228  36145317                  1910 Original Rockaway Bungalow   63389796
48252  36152878                   Cozy Apartment In Midtown West  271928929

              host_name neighbourhood_group       neighbourhood  latitude  \
3           lisaroxanne            Brooklyn        Clinton Hill  40.68514
18     adam and charity            Brooklyn       Crown Heights  40.67592
67                 reka           Manhattan        East Village  40.72649
113                dani            Brooklyn         South Slope  40.66853
225               agnes           Manhattan              Harlem  40.82510
...                 ...                 ...                 ...       ...
47848              penn              Queens             Jamaica  40.68248
47967            dayana           Manhattan             Midtown  40.76384
48031     alex and mila            Brooklyn  Bedford-Stuyvesant  40.68380
48228             diana              Queens      Rockaway Beach  40.58947
48252              asil           Manhattan      Hell's Kitchen  40.75402

       longitude        room_type  price  minimum_nights  number_of_reviews  \
3      -73.95976  Entire home/apt     89               1                270
18     -73.94694  Entire home/apt     99               3                 53
67     -73.97904     Private room     80               1                338
113    -73.98912  Entire home/apt    120              30                467
225    -73.94287     Private room     60               1                458
...          ...              ...    ...             ...                ...
47848  -73.79417  Entire home/apt    128               1                  5
47967  -73.98248     Private room    125               1                  6
48031  -73.92854     Private room     75               1                  7
48228  -73.81435  Entire home/apt    150               1                  5
48252  -73.99318  Entire home/apt     75               1                  4

      last_review  reviews_per_month  calculated_host_listings_count  \
3      2019-07-05               4.64                               1
18     2019-06-22               4.44                               1
67     2019-07-01               4.72                               2
113    2018-12-30               4.22                               2
225    2019-07-03               4.58                               2
...           ...                ...                             ...
47848  2019-07-01               5.00                               1
47967  2019-07-01               6.00                               1
48031  2019-07-06               7.00                               1
48228  2019-07-07               5.00                               1
48252  2019-07-05               4.00                               1

       availability_365
3                   194
18                   21
67                   72
113                 192
225                 258
...                 ...
47848               176
47967               142
48031               326
48228                79
48252                98

[3312 rows x 16 columns]
Outliers in availability_365 column:
 Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [ ]:
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# Remove outliers for the columns
df_cleaned = remove_outliers(df, 'price')
df_cleaned = remove_outliers(df_cleaned, 'minimum_nights')
df_cleaned = remove_outliers(df_cleaned, 'reviews_per_month')
df_cleaned = remove_outliers(df_cleaned, 'availability_365')

In [ ]:

df_cleaned['z_score_price'] = np.abs(stats.zscore(df_cleaned['price']))
df_cleaned['z_score_min_nights'] = np.abs(stats.zscore(df_cleaned['minimum_nights']))
df_cleaned['z_score_reviews'] = np.abs(stats.zscore(df_cleaned['reviews_per_month']))
df_cleaned['z_score_availability'] = np.abs(stats.zscore(df_cleaned['availability_365']))

outliers_z = df_cleaned[df_cleaned[['z_score_price', 'z_score_min_nights', 'z_score_reviews', 'z_score_availability']].gt(3).any(axis=1)]
print("\nOutliers detected using Z-score:\n", outliers_z)

Outliers detected using Z-score:
              id                                               name    host_id  \
4          5022   Entire Apt: Spacious Studio/Loft By Central Park       7192
27         9357                               Midtown Pied-A-Terre      30193
71        17037                            Lovely Ev Artist'S Home      66035
116       26969                2 Story Family Home In Williamsburg     115307
225       58059                Private Room On Historic Sugar Hill     277379
...         ...                                                ...        ...
48664  36373544   Large Studio With Tall Ceiling Near Central Park   35141789
48665  36374141    Sunny Bedroom With Renovated Rooftop + Balcony!   37872024
48700  36389944                Family Friendly Apt In Midtown East  224309949
48794  36428255  Skyscraper Ultimate Luxury At The Heart Of Bklyn.  148289089
48892  36485431            Sunny Studio At Historical Neighborhood   23492952

           host_name neighbourhood_group    neighbourhood  latitude  \
4              laura           Manhattan      East Harlem  40.79851
27             tommi           Manhattan   Hell's Kitchen  40.76715
71              anna           Manhattan     East Village  40.72162
116        alexandra            Brooklyn     Williamsburg  40.71942
225            agnes           Manhattan           Harlem  40.82510
...              ...                 ...              ...       ...
48664          janey           Manhattan  Upper East Side  40.78332
48665          jeano            Brooklyn    Crown Heights  40.67011
48700          efrat           Manhattan          Midtown  40.75988
48794          elmar            Brooklyn      Boerum Hill  40.68780
48892  ilgar & aysel           Manhattan           Harlem  40.81475

       longitude        room_type  price  minimum_nights  number_of_reviews  \
4      -73.94399  Entire home/apt     80              10                  9
27     -73.98533  Entire home/apt    150              10                 58
71     -73.98008  Entire home/apt    230               9                 49
116    -73.95748  Entire home/apt    325               3                324
225    -73.94287     Private room     60               1                458
...          ...              ...    ...             ...                ...
48664  -73.95155  Entire home/apt    100              10                  0
48665  -73.92430     Private room     30              10                  0
48700  -73.96591  Entire home/apt    325               5                  0
48794  -73.98145  Entire home/apt    235              10                  0
48892  -73.94867  Entire home/apt    115              10                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
4      2018-11-19               0.10                               1
27     2017-08-13               0.49                               1
71     2018-05-14               0.43                               1
116    2019-06-23               3.01                               1
225    2019-07-03               4.58                               2
...           ...                ...                             ...
48664  2019-07-08               0.00                               1
48665  2019-07-08               0.00                               1
48700  2019-07-08               0.00                               1
48794  2019-07-08               0.00                               1
48892  2019-07-08               0.00                               1

       availability_365  z_score_price  z_score_min_nights  z_score_reviews  \
4                     0       0.588653            3.852261         0.744655
27                   75       0.450843            3.852261         0.413614
71                  116       1.638839            3.320158         0.464544
116                 107       3.049584            0.127535         1.725415
225                 258       0.885652            0.936673         3.058065
...                 ...            ...                 ...              ...
48664                21       0.291654            3.852261         0.829537
48665                32       1.331150            3.852261         0.829537
48700               298       3.049584            1.191742         0.829537
48794                64       1.713089            3.852261         0.829537
48892                27       0.068905            3.852261         0.829537

       z_score_availability
4                  0.763189
27                 0.161046
71                 0.168126
116                0.095869
225                1.308184
...                     ...
48664              0.594589
48665              0.506274
48700              1.629327
48794              0.249360
48892              0.546417

[851 rows x 20 columns]

## 6) save cleaned data

In [ ]:
df_cleaned.to_csv("/content/AB_NYC_2019_cleaned.csv", index=False)

print("\nOutlier handling completed successfully! The cleaned data is saved.")

Outlier handling completed successfully! The cleaned data is saved.